.p-container{
    overflow: hidden;
    position: relative;
}
.p-head{
    margin-bottom: 2rem;
}

.swiper-horizontal{
    overflow: visible;
}

.p-btn{
    position: absolute;
    gap:0.5rem;
    top:-4rem;
    right: 0;
}
.p-btn button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem ;
    color: blue;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.p-btn>:nth-child(1)
{
  background-color: #EEEEFF;
}
.p-btn>:nth-child(2)
{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}


@media (max-width: 640px)
{
    .p-head{
        align-items: center;
    }
    .p-btn{
        position: initial;
    }
}