.properties-container
{
    gap:2.3rem;
}

.properties-container .search-bar {
    width: clamp(13rem,100%,29rem);
    border-radius: 20px;
    border: 1px solid black;
    flex-wrap: nowrap;
}
.properties-container .search-bar .btn {

    font-size: 15px;
    padding: 10px 15px;
}

.properties-container .search-bar input {
    width: 75%;
}