.inner-container{
    gap: 1.2rem;
    background: #4361ee;
    padding: 1.8rem;
    border: 6px solid #0466c8;
    border-radius: 30px;
    text-align: center;
}

.inner-container .primaryText{
    color:white;
    font-weight: 500;
}
.inner-container .secondaryText{
    color: #fafafa;
    font-weight: 400;
    
}

.inner-container .button {
    background: inherit;
    border: 2px solid white;
    box-shadow: var(--shadow);
    
}

